<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">EDIT Product:</h5>
    <input type="text" size="25" class="col-2" style="text-align: center; padding:0%;">
    
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Modal body text goes here.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="close()">Save changes</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
  </div>
</div>