<section id="whatis" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="mb-4">Qu&eacute; es Urbian?</h2>
        <p>
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
      </div>
    </div>

  <div *ngIf="currentProduct" class="card mx-auto" style="width: 20rem;">
    <img class="card-img-top" [src]="currentProduct.img" [alt]="currentProduct.description" [@changing-product]=changingProduct>
    <div class="card-body">
      <div>{{ currentProduct.price }}</div>
      <h5 class="card-title">{{ currentProduct.name }}</h5>
      <p class="card-text">{{ currentProduct.description }}</p>
      
      <div class="row justify-content-center">
          <input type="button" value="Prev" class="btn btn-secondary col-2" style="padding: 0.1rem 0.1rem 0.2rem 0.2rem;">
          <input type="button" value="Edit" class="btn btn-info col-2" style="padding: 0.1rem 0.1rem 0.2rem 0.2rem;" (click)="Edit()">
          <input type="button" value="New" class="btn btn-info col-2" style="padding: 0.1rem 0.1rem 0.2rem 0.2rem;">
          <input type="button" value="Next" class="btn btn-secondary col-2" style="padding: 0.1rem 0.1rem 0.2rem 0.2rem;">
      </div><br>
      <div class="row justify-content-center">
        <input type="button" value="-" class="btn btn-dark col-1" style="padding: 0.1rem 0.1rem 0.2rem 0.2rem;" (click)="DecreaseQuantity()">
        <input type="text" size="25" class="col-2" style="text-align: center; padding:0%;" value="1" [(ngModel)]="productCounter">
        <input type="button" value="+" class="btn btn-dark col-1" style="padding: 0.1rem 0.1rem 0.2rem 0.2rem;" (click)="IncreaseQuantity()">

      <!-- <button type="button" class="btn btn-primary col-lg-2" (click)="NextProduct()">Siguiente</button>
      <button type="button" class="btn btn-primary col-lg-2" (click)="PreviousProduct()">Anterior</button>
      <button type="button" class="btn btn-primary col-lg-2">Comprar</button>
      <button type="button" class="btn btn-primary col-lg-2" (click)="ShowForm()">A&ntilde;adir Producto</button>
      <button type="button" class="btn btn-danger col-lg-2" (click)="ShowForm()">Actualizar</button>
      <button type="button" class="btn btn-danger col-lg-2" (click)="DeleteProduct()">Remover Producto</button> -->
      </div>
    </div>
  </div>

  <div  class="producto">
    

    <div *ngIf="updatingProduct">
      <input type="text" [(ngModel)]="newImg">Img
      <input type="text" [(ngModel)]="newDesc">Desc
      <input type="text" [(ngModel)]="newName">Name
      <input type="text" [(ngModel)]="newPrice">Price
      <button type="button" class="btn btn-danger col-lg-2" (click)="UpdateProduct()">Actualizar ya!</button>
      <button type="button" class="btn btn-danger col-lg-2" (click)="PostProduct()">Nuevo!</button>
    </div>



    
  </div>
  <h3>Balloon Effect</h3>
    <div (click)="changeState()" style="width:100px;height:100px; border-radius: 100%; margin: 3rem; background-color: green" [@effect]=changingProduct></div>
    
  </div>
</section>
